services:
  - type: web
    name: hierarchy-chat-api
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: APP_KEY
        generateValue: true
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: pgsql
      - key: DATABASE_URL
        fromDatabase:
          name: hierarchy-chat-db
          property: connectionString

databases:
  - name: hierarchy-chat-db
    plan: free
